.container{
  height: 500px;
  padding-top: 20px;
  align-items: center;
  background-color: aqua;
}
.img-container{
  width: 400px;
  height: 400px;
  background-color: blue;
  
}
.thumbnail{
  
  height: 80px;
  background-color: goldenrod;
}